body {
    font-family:Helvetica;
	margin: 0;
	padding: 0;
}
article {
	position: relative;
	margin-top: 0;
	margin-left: 23%;
	margin-right:2%;
}
table {
	width: 50%;
	text-align: center;
	margin-bottom: 0;
}
th {
	border: 2px dashed darkblue
}
td {
    border: 3px dotted green
}
aside {
	margin-top:-5px;
	width: 20%;
	background-color: lightblue;
	height:100%;
	position:absolute;
}
#menu2 li {
	text-align: justify;
	width: 85%;
}
#menu2 {
	width: 100%;
}
.menu2 {
	width:100%;
	font-weight:bolder;
}
.menu2 > a {
	color:green;
}
.menu2 > a:visited {
	color:darkgreen;
}
section {
	margin-top:80px;
}
header {
	text-decoration:none;
	text-align:left;
	z-index:9000;
	position:fixed;
	top:0;
	height:70px;
	width:100%;
	border:4px dotted green;
	background-color:rgb(39, 174, 96);
}
ul.menu1 {
	position:fixed;
	margin-left: 0;
	margin-top: 0;
	top: 7px;
	left: 500px;
	text-align:center;
	display: inline-block;
}
li.menu1 > a {
	color:white;
	text-decoration:none;
}


ul.menu1 > li {
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	background-color: rgb(26, 188, 156);
	padding-top: 20px;
	width:200px;
	height:40px;
	list-style-type:none;
	display:inline-block;
	border:1px solid green;
}
.submenu1 li a {
	text-decoration: none;
	color: rgb(52, 152, 219);
}
.submenu1 li:hover a {
	color: rgb(241, 196, 15);
}
.submenu1 {
     font-family: Algerian EF, ;
	margin:0;
	padding:0;
}
.submenu1 li {
     transition: all 2s ease;
     -webkit-transition: all 2s;
	display: none;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	color:rgb(230, 126, 34);
	padding:10px 12px;
}
.submenu1 li:hover {
	background-color:rgb(52, 152, 219);
}
li#submenu:hover .desplegar .submenu1 li {
     display: inline-block;
}

.desplegar {
/*	display:none;*/
	transition: all 2s ease;
	-webkit-transition: all 2s; /* Safari */
	position:absolute;
	text-align: center;
	text-decoration: none;
	height: 0;
	width: 1100px;
	background-color: green;
	top: 50px;
	left: -250px;
	font-size: 20px;
	margin-right: 300px;
}

li#submenu1:hover .desplegar .submenu1 > li {
	width:150px;
	height: 100%;
	list-style-type:none;
	position:relative;
}

li#submenu:hover > .desplegar{
/*    transition: all 2s ease;
    -webkit-transition: width 2s; /* Safari */
	/*display:inline-block;*/
     background-color:rgb(241, 196, 15);
	height:50px;
}
.submenu1 ul {
     background-color:rgb(46, 204, 113);
}

footer {
	border-top:1px solid grey;
	text-align:center;
}
footer img {
	width:30px;
	height:30px;
}
video {
	width: 350px;
}
