header ul li.menu1 {
	list-style-type: none;
	display: inline;
    border:1px solid black;
    background-color:black;
}

ul {
    width:30%;
    float:right;
}

header {
    top:0px;
    height:70px;
    width:100%;
    border:4px dotted green;
    position:fixed;
    background-color:darkgray;
}

header ul li a.menu1 {
    color:white;
    text-decoration:none;
}

article {
    top:200px;
    height:100%;
    float:right;
    width:79%;
}

aside {
    float:left;
    width:20%;
    top:77px;
    background-color:gray;
    height:100%;
    position:fixed;
}

#menu2 {
    width:100%;
    list-style-type:disc;
}

aside ul .menu2 {
    font-weight:bolder;
}

aside ul li a {
    color:lightblue;
}

aside ul li a:visited {
    color:lightgreen;
}

td {
    border:2px dotted green;
}



th {
    border:3px dashed darkblue;
}

table {
    width:50%;
    text-align:center;
}
